
%h2 SQL joins

%p For this exercise, we will use the follow two tables as small sample data sets.

#sql-syntax

  .container

    #left-col-tut
      %h3 Staff
      =image_tag asset_path("staff.png"), :alt => "staff data table", :width => "400"

    #right-col-tut
      %h3 Departments
      =image_tag asset_path("department.png"), :alt => "department data table", :width => "400"

  .container

    #left-col-tut
      %h3 Join
      =image_tag asset_path("join.png"), :alt => "join operation example", :width => "600"

    #right-col-tut
      .container-text
        %h3 Explanation
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet ligula quam, eu volutpat libero blandit nec. Proin lectus velit, luctus eget interdum eget, porta in ex. Phasellus in viverra nulla. Nulla egestas tellus eu eros dapibus porta. Donec at nulla et felis mattis fermentum sit amet et metus. Nunc dui erat, rutrum non nisl at, ullamcorper scelerisque purus. Nullam sit amet consequat nulla, at lacinia metus. Vestibulum ultrices finibus enim, sed gravida velit mollis in. Pellentesque ut eros laoreet, accumsan quam eget, bibendum ex. Nulla luctus consequat vulputate. Suspendisse accumsan quis massa rhoncus consequat. Nunc lacus odio, viverra nec hendrerit id, ultrices quis magna. Integer ac lorem neque.

  .container
    #left-col-tut
      .container-text
        %h3 Explanation
        %p Sed dapibus lorem odio, sit amet malesuada eros commodo sed. Suspendisse in vestibulum leo. Curabitur et feugiat magna, quis bibendum lacus. Praesent in felis eget ipsum placerat vulputate. Sed pharetra, nunc eget placerat sollicitudin, diam libero lacinia enim, et pretium elit lacus a enim. Sed convallis et massa vitae eleifend. Maecenas vitae lectus lectus. Ut sed felis sed nibh euismod elementum ac vitae nisi. Aenean viverra orci elit, sit amet rhoncus nisl finibus a. Sed ultricies mauris neque, vel sollicitudin orci bibendum congue. Donec sit amet lorem ut mi dapibus volutpat. Vivamus ullamcorper, massa quis suscipit bibendum, neque dolor sagittis magna, a tempus massa lectus vitae metus. Suspendisse eget porta nisi, vel viverra odio. Duis suscipit nisi est, a placerat turpis sollicitudin ac.

    #right-col-tut
      %h3 Left join
      =image_tag asset_path("left_join.png"), :alt => "left join operation example", :width => "600"

  .container

    #left-col-tut
      %h3 Right join
      =image_tag asset_path("left_join.png"), :alt => "right join operation example", :width => "600"

    #right-col-tut
      .container-text
        %h3 Explanation
        %p Pellentesque placerat dignissim ultricies. Curabitur lobortis nisl vel sapien luctus feugiat. Nam fermentum condimentum justo in consequat. Duis imperdiet quam non sapien consectetur dapibus. Phasellus imperdiet commodo enim sed malesuada. Praesent vestibulum semper cursus. Nam tincidunt semper ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl risus, molestie vitae vulputate et, auctor sit amet mi. In eleifend laoreet neque, a sagittis lorem tempor commodo. Sed sed felis nec sapien ultrices finibus accumsan in justo.

  .container

    %h2 Conclusion
    %p Sed sagittis in magna eu congue. Nulla facilisi. Vivamus vestibulum scelerisque condimentum. Duis nec leo tincidunt, convallis ante eu, ornare odio. Duis vehicula mollis tortor, suscipit efficitur purus molestie a. Suspendisse tristique purus purus, quis elementum erat posuere quis. Duis varius sit amet risus at finibus. Nam elit dui, posuere sed lacus viverra, eleifend facilisis nunc. Integer tempor sem risus, eu fringilla lectus euismod non. Phasellus a ante nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In id scelerisque dolor, quis finibus leo. Proin tincidunt eros sit amet nibh porta, ut consectetur nibh efficitur. Proin accumsan, tortor a pulvinar iaculis, tortor nisi luctus arcu, ut interdum ligula sem ut ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sem arcu, viverra id orci vel, luctus varius nunc.
    %p Donec imperdiet viverra vehicula. Nulla rutrum velit nec urna ultrices vulputate. Proin suscipit mauris ac odio tempor auctor. Maecenas ligula dui, vulputate id varius et, faucibus nec orci. Praesent vel justo mauris. Suspendisse et nulla ligula. Morbi tempus ipsum in mollis tempor. Fusce sodales imperdiet congue. Aliquam tempor dolor diam, in convallis ipsum molestie eget.