.dockerignore
.git
.gitignore
.gitleaks.toml
Dockerfile
docker-compose.yml
local.sh
local_docker_init.sh
local_docker_job_init.sh
*.md

ansible/
log/**/*
tmp/**/*

# Include any directory placeholder files
!**/.keep
