default: &default
  primary:
    host: primary-db
    adapter: postgresql
    database: postgres
    username: postgres
    password: {{ postgres_database_password }}
    pool: 8
  primary_replica:
    replica: true
    host: replica-db
    adapter: postgresql
    database: postgres
    username: postgres
    password: {{ postgres_database_password }}
    pool: 8
  variables:
    tcp_keepalives_idle: 60
    tcp_keepalives_interval: 60
    tcp_keepalives_count: 100

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
