---
- name: create nfs volume for ezpaarse_input
  docker_volume:
    name: ezpaarse_input
    driver: local
    driver_options:
      type: nfs
      o: "{{ 'addr=' ~ ezpaarse_nfs_input_volume_address ~ ',rw' }}"
      device: ":{{ ezpaarse_nfs_input_volume_device }}"
    state: present
  tags: ezpaarse_input_volume
