= javascript_include_tag 'application'

-school_names=["College of Arts & Sciences","The Wharton School","Annenberg School for Communication",
"School of Dental Medicine","School of Design","Graduate School of Education",
"School of Engineering and Applied Science","Law School","Perelman School of Medicine",
"Veterinary Medicine","School of Nursing","Social Policy & Practice"]

-school_index=(0..11).to_a

-furness_table=gen_stats(library_table,2023,"Furness","All")
-biotech_table=gen_stats(library_table,2023,"Biotech","All")
-van_pelt_table=gen_stats(library_table,2023,"Van Pelt","All")

-furn_counts=calc_percents(furness_table,"Counts","F/S")
-vp_counts=calc_percents(van_pelt_table,"Counts","F/S")
-bio_counts=calc_percents(biotech_table,"Counts","F/S")

-furn_pie=Hash.new
-vp_pie=Hash.new
-bio_pie=Hash.new

-school_index.each {|i| furn_pie[school_names[i]]=furn_counts[school_names[i]]}
-school_index.each {|i| vp_pie[school_names[i]]=vp_counts[school_names[i]]}
-school_index.each {|i| bio_pie[school_names[i]]=bio_counts[school_names[i]]}

%hr
%h2{style: "text-align:center;"} Fiscal Year 2023 Faculty & Staff Population Statistics by School
%hr

%h2{style: "text-align:center"} Percentage of Gate Counts By School Per Library
#left-col
  %h3{style: "text-align:center;"} Furness
  =pie_chart  furn_pie, round: 2, suffix: "%", download: true

#right-col
  %h3{style: "text-align:center;"} Biotech Commons
  =pie_chart bio_pie, round: 2, suffix: "%", download: true

%h2{style: "text-align:center"} Percentage of Gate Counts By School Per Library

#data-viz
#single-col
  %h3{style: "text-align:center;"} Van Pelt
  =pie_chart vp_pie, round: 2, suffix: "%", download: true

-#These two plots should be fixed now...

-num_staff=enrollment_table("F/S",2023)

-enroll_names=['SAS','Wharton','Annenberg','Dental','Weitzman','Education','Engineering','Law',
'Perelman','Veterinary','Nursing','SP2']

-school_pop=Array.new(12,0)

-school_index.each {|i| school_pop[i]=num_staff[enroll_names[i]]}

-puts school_pop

-staff_bar_percents=Hash.new
-staff_people=calc_percents(van_pelt_table,"Individuals","F/S")

-school_index.each {|i| staff_bar_percents[school_names[i]]=((staff_people[school_names[i]]).fdiv(school_pop[i]))*100}

%h2{style: "text-align:center;"} Percentage of Faculty/Staff Using the Van Pelt Library Per School
#data-viz
#single-col
  =column_chart staff_bar_percents, round: 2, dataset: {borderWidth: 0}, suffix: "%", download: true
