= javascript_include_tag 'application'

-school_names=['College of Arts & Sciences',"The Wharton School","Annenberg School for Communication","School of Dental Medicine","School of Design",'Graduate School of Education','School of Engineering and Applied Science','Law School',"Perelman School of Medicine","Veterinary Medicine","School of Nursing","School of Social Policy & Practice"]

-school_index=[0,1,2,3,4,5,6,7,8,9,10,11]

-furness_table=gen_stats(library_table,2023,"Furness","All")
-biotech_table=gen_stats(library_table,2023,"Biotech","All")
-van_pelt_table=gen_stats(library_table,2023,"Van Pelt","All")

-#percent_index.each {|i| percents_array[schools[i]] = percents[i]}

%hr
%h2{style: "text-align:center;"} Fiscal Year 2023 School Population Statistics
%hr

%h2{style: "text-align:center"} Percentage of Gate Counts By Graduate School Per Library
#left-col
  %h3{style: "text-align:center;"} Furness
  =pie_chart  calc_percents(furness_table,"Counts","F/S"), round: 2, download: true

#right-col
  %h3{style: "text-align:center;"} Biotech Commons
  =pie_chart calc_percents(biotech_table,"Counts","F/S"), round: 2, download: true

%h2{style: "text-align:center"} Percentage of Gate Counts By Graduate School Per Library

#data-viz
#single-col
  %h3{style: "text-align:center;"} Van Pelt
  =pie_chart calc_percents(van_pelt_table,"Counts","F/S"), round: 2, download: true

-#These two plots should be fixed now...

-num_staff=enrollment_table("F/S")

-enroll_names=['SAS','Wharton','Annenberg','Dental','Weitzman','Education','Engineering','Law','Perelman','Veterinary','Nursing','SP2']

-school_pop=[0,0,0,0,0,0,0,0,0,0,0,0]
-school_index.each {|i| school_pop[i]=num_staff[-1][enroll_names[i]]}

-staff_bar_percents=Hash.new
-staff_people=calc_percents(van_pelt_table,"Individuals","Grad Student")

-school_index.each {|i| staff_bar_percents[school_names[i]]=(staff_people[school_names[i]]).fdiv(school_pop[i])}

%h2{style: "text-align:center;"} Percentage of Graduate Students Using the Library Per School
#data-viz
#single-col
  =column_chart staff_bar_percents, round: 2, dataset: {borderWidth: 0}, download: true

-#medical school chart doesn't really help because just school of medicine dominates...information comes from the pie chart.
