= javascript_include_tag 'application'

%h2 Introduction

%hr

%h2 Resources

%h3 Dashboards

%li= link_to "Overview", "gate_counts_overview"
%li= link_to "Populations & Penetration", "population_penetration"


