= javascript_include_tag 'application'

%ul

  %li= link_to "Undergraduate Statistics", "undergraduate_statistics"
  %li= link_to "Graduate Statistics", "graduate_statistics"

%hr
%h2{style: "text-align:center;"} Fiscal Year 2023 School Population Statistics
%hr

