= javascript_include_tag 'application'

-furness_table=gen_stats(time_table,2023,"Furness")
-biotech_table=gen_stats(time_table,2023,"Biotech")
-van_pelt_table=gen_stats(time_table,2023,"Van Pelt")

-arts_and_sciences=GateCount::CardSwipe.where(school:"College of Arts & Sciences").where(swipe_date: '2023-01-01 00:00:00'..'2023-06-30 00:00:00').where("door_name = ? OR door_name = ? OR door_name = ? OR door_name = ?","VAN PELT LIBRARY TURN1_ *VPL","VAN PELT LIBRARY TURN2_ *VPL","VAN PELT LIBRARY USC HANDICAP ENT VERIFY_ *VPL","VAN PELT LIBRARY ADA DOOR_ *VPL")

#data-viz
  #single-col
    %h2 Card Swipes Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: calc_percents(biotech_table,"Raw Counts","All").group_by_month("swipe_date").count}, {name: "Furness", data: calc_percents(furness_table,"Raw Counts","All").group_by_month(:"swipe_date").count},{name: "Van Pelt", data: calc_percents(van_pelt_table,"Raw Counts","All").group_by_month("swipe_date").count}], xtitle:"Months", ytitle: "Gate Counts", legend: true, curve: false, download: true

#data-viz
  #single-col
    %h2 Number of Visitors Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: calc_percents(biotech_table,"Individuals","All").group_by_month(:swipe_date).count}, {name: "Furness", data: calc_percents(furness_table,"Individuals","All").group_by_month(:swipe_date).count},{name: "Van Pelt", data: calc_percents(van_pelt_table,"Individuals","All").group_by_month(:swipe_date).count}], xtitle:"Months", ytitle: "Gate Counts", legend: true, curve: false, download: true

%h2{style: "text-align:left;"} Van Pelt Monthly Gate Counts

%table{align: "left", border: "1", cellpadding: "5"}
  %thead
    %tr
      %td Month
      %td 2017-2018
      %td 2018-2019
      %td 2021-2022
      %td 2022-2023
  %tbody
    %tr
      %td January
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 2168
    %tr
      %td February
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 2398
    %tr
      %td March
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 68
    %tr
      %td April
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 789
    %tr
      %td May
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 768
    %tr
      %td June
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 1664
    %tr
      %td July
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 4140
    %tr
      %td August
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 993
    %tr
      %td September
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 2122
    %tr
      %td October
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 571
    %tr
      %td November
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 607
    %tr
      %td December
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 663
