= javascript_include_tag 'application'

-school_names=["School of Nursing","The Wharton School","School of Engineering and Applied Science",
"College of Arts & Sciences"]

-enroll_names=["Nursing","Wharton","Engineering","SAS"]
-undergrad_enroll=gc_enrollment_table("Undergrad")

-school_pop=Array.new(4,0)

-enroll_names.each_with_index {|e,i| school_pop[i]=undergrad_enroll[e]}

-furness_table=gc_gen_stats(gc_library_table,2023,"Furness","All")
-biotech_table=gc_gen_stats(gc_library_table,2023,"Biotech","All")
-van_pelt_table=gc_gen_stats(gc_library_table,2023,"Van Pelt","All")

-undergrad_vp=gc_calc_percents(van_pelt_table,"Counts","Undergraduate Student")
-undergrad_pie=Hash.new

-school_names.each {|s| undergrad_pie[s]=(undergrad_vp[s])}

%h2{style: "text-align:center;"} Percentage of Van Pelt Gate Counts By Undergraduate School
#data-viz
  #single-col
    %h3{style: "text-align:center;"} Undergraduate Students
    =pie_chart undergrad_pie, round: 2, suffix: "%", download: true

-undergrad_people=gc_calc_percents(van_pelt_table,"Individuals","Undergraduate Student")
-undergrad_bar_percents=Hash.new

-school_names.each_with_index {|s,i| undergrad_bar_percents[s]=((undergrad_people.fetch(s, 0)).fdiv(school_pop[i]))*100}

%h2{style: "text-align:center;"} Percentage of Undergraduate Students Using the Van Pelt Library Per School
#data-viz
  #single-col
    =column_chart undergrad_bar_percents, round: 2, suffix: "%", dataset: {borderWidth: 0}, download: true

-undergrad_bio=gc_calc_percents(biotech_table,"Raw Counts","Undergraduate Student")
-undergrad_vp=gc_calc_percents(van_pelt_table,"Raw Counts","Undergraduate Student")
-undergrad_furn=gc_calc_percents(furness_table,"Raw Counts","Undergraduate Student")

-all_undergrad=[undergrad_vp,undergrad_bio,undergrad_furn]

-#placeholders for the below, this is a different type of population
-#(users of the library per school rather than the total school population)

-school_pop=Array.new(4,0)
-school_names.each_with_index {|s,i| school_pop[i]=all_undergrad.pluck(s).compact.sum}

-bio_percents=Hash.new
-vp_percents=Hash.new
-furn_percents=Hash.new

-school_names.each_with_index {|s,i| bio_percents[s]=(undergrad_bio.fetch(s, 0)).fdiv(school_pop[i])}
-school_names.each_with_index {|s,i| vp_percents[s]=(undergrad_vp.fetch(s,0)).fdiv(school_pop[i])}
-school_names.each_with_index {|s,i| furn_percents[s]=(undergrad_furn.fetch(s,0)).fdiv(school_pop[i])}

%h2{style: "text-align:center;"} Percentage of Gate Counts Per Library For Each Undergraduate School
#single-col
  =column_chart [{name: "BioTech", data: bio_percents},
                 {name: "Van Pelt", data: vp_percents},
                 {name: "Furness", data: furn_percents}],
                 dataset: {borderWidth: 0},
                 round: 2,
                 download: true
