= javascript_include_tag 'application'

%section
  %h2 Introduction
  The Penn Libraries manage a number of webpages.  In order to have more insight
  into how those webpages are used, a small piece of JavaScript is added into
  the header of every page. Data is then collected on how users navigate the
  website and is sent to Google Analytics. The Google Analytics interface and API
  provide facile ways to interact with the data and build reports.  Google
  Analytics is a free service and no guarantees are made around the overall
  longevity of the data.

%hr
%section
  %h2 Resources

  %h3 Dashboards
  %ul
    %li Placeholder

  %h3 Data
  %ul
    %li #{link_to "Universal Analytics Data", :google_analytics_universal_analytics} - before July 1, 2023
