= javascript_include_tag 'application'
 
-# Establish the model
- courses = CourseReserves::Leganto::Course
- citations = CourseReserves::Leganto::Citation 
- reading_lists = CourseReserves::Leganto::ReadingList

