{
  "EZPAARSE_MONGO_URL": "{{ 'mongodb://' ~ ezpaarse_mongodb_username ~ ':' ~ ezpaarse_mongodb_password ~ '@ezpaarse_db:27017/ezpaarse' }}",
  "EZPAARSE_ENV": "production",
  "EZPAARSE_NODEJS_PORT": "59599",
}
