= javascript_include_tag 'application'

%section
  %h2 Introduction

  The #{link_to "ILLiad", "https://www.oclc.org/en/illiad.html"} service is
  provided by #{link_to "OCLC", "https://www.oclc.org/en/home.html"}.  ILLiad
  manages several Interlibrary loan systems under one umbrella.  MetriDoc
  provides data storage services for a select group of universities in the Ivy
  Plus Library Confederation.

%hr
%section
  %h2 Resources

  %h3 Dashboards
  %ul
    %li Coming soon...

  %h3 Data
  %ul
    %li #{link_to "ILLiad Data", :admin_illiad}
