default:
  adapter: postgresql
development:
  adapter: postgresql
  database: postgres
  host: primary-db
  password: {{ postgres_database_password }}
  username: postgres
production:
  adapter: postgresql
  database: postgres
  host: primary-db
  password: {{ postgres_database_password }}
  username: postgres
test:
  adapter: postgresql
  database: metridoc_test
  password: metridoc_test
  username: metridoc_test
