[default]
client_id = {{ libwizard_client_id }}
client_secret = {{ libwizard_client_secret }}
base_url = {{ libwizard_base_url }}
authorization_endpoint = %(base_url)s/oauth/token
info_api = %(base_url)s/public/forms/{}
entry_api = %(base_url)s/public/submissions/{}
grant_type = client_credentials
form_id = 60734
lippincott_form_id = 66960
