// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;


// Active Admin's got SASS!
/* Overriding active_materials default color scheme */

$am-theme-primary: #2E4052;
$am-theme-accent: #FFC857;
$am-theme-backdrop: #FBF9F6;
$am-theme-divider: #412234;

@import "active_admin/mixins";
@import "../../../node_modules/active_material/src/stylesheets/active_material";
@import "active_admin_sidebar";


@import "metridoc";
