body.active_admin {

  #active_admin_content #sidebar select {
    max-width: 100%;
  }

  #active_admin_content.left_sidebar #main_content_wrapper {
    margin-left: 20px;
  }

  #main_content {
    padding: 10px;
    h1, h2, h3, h4, h5, h6 {
      text-align: left;
      padding: 15px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }

    .index_table, .panel_contents table {
      table-layout: auto !important;
      word-break: inherit;
      td {
        width: auto !important;
      }
    }

    /* Construct table style for statistics tables */
    .statistics_summary {
      table-layout: auto !important;
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      width: 100%;
      th {
        border: 1px solid black;
        text-align: center;
        background-color: #011F5B25;
        padding: 5px;
      }
      tbody {
        tr:nth-child(even) {
          background-color: #99000025;
        }
      }
      td {
        border: 1px solid black;
        padding: 5px;
        text-align: right
      }
      td:first-child {
        text-align: left;
      }
      tfoot {
        font-weight: bold;
        background-color: #011F5B50;
      }
    }

    /* Construct table style for data summary tables */
    .data_summary {
      table-layout: auto !important;
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      width: 100%;
      th {
        border: 1px solid black;
        text-align: left;
        background-color: #011F5B25;
        padding: 5px;
      }

      td {
        border: 1px solid black;
        padding: 5px;
        text-align: left
      }

      tr.failed > td {
        background-color: #f8a694;
      }
      tr.successful > td {
        background-color: #bdfca8;
      }
      tr.running > td {
        background-color: #fbfca8;
      }

      tfoot {
        font-weight: bold;
        background-color: #011F5B50;
      }
    }

    /* Construct a method for hover text */
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -100px;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    /* Add an arrow to the tool tip */
    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }

    .col-actions {
      width: 100px;
    }
    #data-viz {
      overflow: auto;
    }

    .container {
      clear: both;
      margin: 30px 10px;
    }

    .container-text {
      margin:10px;
      background-color: #f5f5f5;
      max-width: 550px;
      padding: 10px;
    }

    #left-col, #right-col {
      background-color: #dadada;
      width: 45%;
      padding: 10px;
      margin: 10px 10px;
    }
    #left-col {
      float: left;
    }
    #right-col {
      float: right;
    }

    #left-col-tut {
      float: left;
    }
    #right-col-tut {
      float: right;
    }
    #single-col {
      background-color: #dadada;
      width: 98%;
      padding: 10px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .actions {
      #upload-status {
        font-weight: bold;
        padding-left: 10px;
      }
    }
  }

  #filters_sidebar_section {
    width: 300px;
  }

  .comments {
    .panel_contents {
      padding: 20px;
    }
  }

  #header {
    img {
      width: 250px;
    }
  }

  #footer {
    text-align: left;
    span {
      font-size: 12px;
    }
    img.penn_lib_logo {
      width: 200px;
      border-right: 1px #5d5d5d solid;
      padding-right: 10px;
      margin-right: 10px;
      padding-bottom: 10px;
    }
    img.iplc_logo {
      margin-left: 10px;
      padding-bottom: 10px;
    }
  }

  .choices-group li {
    list-style-type:none;
  }

  #report-query,
  #report-template {
    .aggregate.select {
      display: inline-block;
      margin: 0 8px;
      padding: 0;
    }

    .aggregate.select select {
      height: 20px;
      line-height: 15px;
      padding: 0 16px 0 7px;
    }

    li.choice {
      line-height: 24px;
    }

    #join-section {
      margin: 16px 0 16px 0;
      padding: 0px 16px;
    }

    #join-section > legend {
      padding: 0;
      margin-bottom: 8px;
    }

    #join-section > legend > span {
      font-size: 12px;
    }

    #join-section a {
      margin-left: 8px;
    }

    .report_query_join_clauses > fieldset.inputs,
    .report_template_join_clauses > fieldset.inputs {
      margin: 0;
    }
  }
}

// home
.home-header {
  background-color: #0061D5;
  border-bottom-color: #0050b1;
  line-height: 66px;
  height: 66px;
  padding: 0 50px;

  img {
    vertical-align: middle;
    border: 0;
  }
}

.sso-container {
  background: #fff;
  border-radius: 8px;
  padding: 40px 0;
  min-width: 300px;
  margin: 80px auto;
  max-width: 760px;

  h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px auto 0;
    text-align: center;
    padding: 0 40px;
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 20px;
    font-weight: 400;

    p {
      min-height: 50%;
      margin: 0 0 20px;
    }

    .sso-option {
      flex: 1;
      text-align: center;
      padding: 24px 40px 0;
      min-width: 300px;
      display: flex;
      flex-direction: column;

      a {
        min-width: 220px;
        max-width: 300px;
        white-space: normal;
        line-height: 20px;
        border-radius: 4px;
        padding: 6px 16px;
        background-image: linear-gradient(to bottom, #0061D5 0%, #005cca 100%);
        border: 1px solid #0050b1;
        color: #FFFFFF;
      }
      a:hover {
        color: #FFFFFF;
      }
    }

    .options-separator {
      margin-top: 24px;
      background-color: #e8e8e8;
      width: 1px;
    }

    .non-penn {
      flex: 1;
      text-align: center;
      padding: 24px 40px 0;
      min-width: 300px;
      display: flex;
      flex-direction: column;

      a {
        min-width: 220px;
        max-width: 300px;
        white-space: normal;
        line-height: 20px;
        border-radius: 4px;
        padding: 6px 16px;
        background-color: #ebebeb;
        border-color: #bdc3c7;
        outline: 0;
        margin: 0;
        width: 100%;
        border: 1px solid #bdc3c7;
      }
      a:hover {
        color: #000000;
      }
    }
  }
}
