%p(style="border:3px;border-style:solid;border-color:#F1C40F;padding: 1em;background-color:#FFDA84;color:#777777;text-align:center;")
 WARNING: If you are unable to access data, please contact #{mail_to "sarnoa@upenn.edu", "Andy Sarno", {style: "color:#990000"}}.
