= javascript_include_tag 'application'

-#Establish the model:
-libchats=Springshare::Libchats::Flags

%h2{style: "text-align:center;"} 
#data-viz
  #single-col
    %h3{style: "text-align:center;"} User Sentiment
    =pie_chart libchats.group(:sentiment), round: 2, suffix: "%", download: true

-# Form to update filters on page
%center
  All Filters are Optional
  = form_tag(nil, {method: :get}) do
    %table{:style => "background-color:#DADADA; margin: 10px;"}
      %tr
        %td Filter on User Affiliation:
        %td
        %td
          = select_tag :user_group, 
            options_for_select(lc_q_cats.distinct.pluck(:user_group),
              params[:user_group]),
            include_blank: "All Affiliations"
      %tr
        %td Filter on Fiscal Year:
        %td
        %td
          = select_tag :fiscal_year, 
            options_for_select(springshare_libanswers_fiscal_years,
              params[:fiscal_year]),
            include_blank: "All Years"

-chats_by_q=filter_chats_q(params)

%h2{style: "text-align:center;"} Sentiment by Affiliation
#single-col
  =pie_chart chats_by_q.pluck(:sentiment), round: 2, suffix: "%", dataset: {borderWidth: 0}, download: true
=#title: Sentiment by params[:user_type],
%h2{style: "text-align:center;"} Sentiment vs. Length of Chat
#single-col
  =scatter_chart libchats.pluck(:message_count, :sentiment_score),
               xtitle: "Message Count",
               ytitle: "Sentiment Score",
               download: true

%h2{style: "text-align:center;"} Sentiment when the Chat Resulted in a Ticket
#single-col
  =scatter_chart libchats.where("ticket_id > ?", "0").pluck(:sentiment_score, :ticket_id),
               xtitle: "Sentiment Score",
               ytitle: "Ticket ID",
               download: true

%h2{style: "text-align:center;"} Length of Chat When Chat Resulted in a Ticket
#single-col
  =scatter_chart libchats.where("ticket_id > ?", "0").pluck(:duration, :ticket_id),
               xtitle: "Message Count",
               ytitle: "Ticket ID",
               download: true
