= javascript_include_tag 'application'
%h1 RSAT
%hr
%section
  %h2 Resources
  %h3 Data Tables
  %ul
    - resources.each do |resource|
      %li= link_to resource.resource_name.human, "/rsat/#{resource.resource_name.param_key.pluralize}"
