= javascript_include_tag 'application'

%section
  %h2 Introduction
  The Stream Deck is a peripheral device that can be attached to a computer to record data.
  The device can be programmed to do a number of different functions.
  It has been used for Event Satisfaction Ratings, Interactive User Testing, and to catalog Service Point Interactions.
  These devices come with a varying number of buttons from six to thirty.

%hr
%section
  %h2 Data Tables 

  %ul
    %li #{link_to "Service Point Data", "/stream_deck/service_point"}
